.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.project
.cproject
.pydevproject
CMakeFiles
msg_gen
srv_gen
CMakeCache.txt
cmake_install.cmake
doxygen.cfg
